@import '../../scss/colors';

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: $regular-font-color;
  position: fixed;
  overflow: auto;
}

.App__title {
  margin: 0;
  padding: 20px;
  font-family: 'Seaweed Script', cursive;
  font-size: 50px;
  font-weight: 400;
  color: $header-title-color;
}