$header-title-color: goldenrod;
$regular-font-color: #9aa1a8;

$gryffindor-gold: #a5831a;
$gryffindor-red: #6d0000;
$slytherin-grey: #686868;
$slytherin-green: #0a3506;
$ravenclaw-grey: #686868;
$ravenclaw-blue: #061738;
$hufflepuff-black: #2a2b2b;
$hufflepuff-gold: #9b7e17;